<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet"
                  arguments=".\webShopping.dll"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="inprocess"
                  startupTimeLimit="180"
                  requestTimeout="00:02:00">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="ASPNETCORE_ALLOWEDHOSTS" value="*" />
          <environmentVariable name="ASPNETCORE_FORWARDEDHEADERS_ENABLED" value="true" />
          <!-- Keep OAuth keys here so hosting always registers Google/Facebook even if appsettings is outdated -->
          <environmentVariable name="Authentication__Facebook__AppId" value="743036061345126" />
          <environmentVariable name="Authentication__Facebook__AppSecret" value="df1be16478fffdadd3bf2db72b43d1d3" />
          <environmentVariable name="Authentication__Google__ClientId" value="912301153295-dgsb8gcaimbmtu0chdsaccj2j67parur.apps.googleusercontent.com" />
          <environmentVariable name="Authentication__Google__ClientSecret" value="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" />
        </environmentVariables>
      </aspNetCore>
      <httpProtocol>
        <customHeaders>
          <remove name="X-Powered-By" />
        </customHeaders>
      </httpProtocol>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="33554432" />
        </requestFiltering>
      </security>
      <httpErrors existingResponse="PassThrough" />
    </system.webServer>
  </location>
</configuration>
